In [1]:
import requests
import pandas as pd
from datetime import datetime
import os
import gzip
import shutil
import pandas as pd
from sklearn.impute import KNNImputer
from datetime import datetime
import requests
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, trim
import requests
import pandas as pd
from datetime import datetime
from pyspark.sql.functions import col, isnan

In [2]:
# FMP API key
api_key = '47461a32a9bcf3b0a6c2c6e98ccfab42'

# Symbol for EURO STOXX 50
stock_symbol = '^STOXX50E'

# URL for the FMP historical data endpoint
url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{stock_symbol}?from=2004-10-01&to={datetime.now().strftime("%Y-%m-%d")}&apikey={api_key}'

# FMP API request
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Convert the response to JSON
    data = response.json()

    # Extract the historical data
    if 'historical' in data:
        historical_data = data['historical']

        # Convert to a pandas DataFrame
        index_data = pd.DataFrame(historical_data)

        # Display the DataFrame
        print(index_data)
    else:
        print("No 'historical' data found in the response.")
else:
    print(f'Failed to retrieve data: {response.status_code}')

            date         open         high          low        close  \
0     2024-01-10  4467.150000  4484.800000  4459.540000  4469.490000
1     2024-01-09  4486.990230  4486.990230  4446.620120  4467.169920
2     2024-01-08  4461.799800  4487.259770  4438.490230  4485.479980
3     2024-01-05  4458.740230  4474.879880  4418.080080  4463.509770
4     2024-01-04  4451.720210  4476.720210  4443.419920  4474.009770
...          ...          ...          ...          ...          ...
4870  2004-10-07  2834.620117  2834.620117  2834.620117  2834.620117
4871  2004-10-06  2831.879883  2831.879883  2831.879883  2831.879883
4872  2004-10-05  2830.120117  2830.120117  2830.120117  2830.120117
4873  2004-10-04  2823.459961  2823.459961  2823.459961  2823.459961
4874  2004-10-01  2796.080078  2796.080078  2796.080078  2796.080078

         adjClose    volume  unadjustedVolume    change  changePercent  \
0     4469.490000         0                 0   2.34000       0.052382
1     4467.169920  25544800          25544800 -19.82031      -0.441730
2     4485.479980  21900200          21900200  23.68018       0.530730
3     4463.509770  28778100          28778100   4.76954       0.106970
4     4474.009770  28082800          28082800  22.28956       0.500700
...           ...       ...               ...       ...            ...
4870  2834.620117         0                 0   0.00000       0.000000
4871  2831.879883         0                 0   0.00000       0.000000
4872  2830.120117         0                 0   0.00000       0.000000
4873  2823.459961         0                 0   0.00000       0.000000
4874  2796.080078         0                 0   0.00000       0.000000

         vwap           label  changeOverTime
0     4471.28  January 10, 24        0.000524
1     4471.94  January 09, 24       -0.004417
2     4468.26  January 08, 24        0.005307
3     4453.80  January 05, 24        0.001070
4     4461.47  January 04, 24        0.005007
...       ...             ...             ...
4870     0.00  October 07, 04        0.000000
4871     0.00  October 06, 04        0.000000
4872     0.00  October 05, 04        0.000000
4873     0.00  October 04, 04        0.000000
4874     0.00  October 01, 04        0.000000

[4875 rows x 13 columns]

In [3]:
index_data.describe()

,open,high,low,close,adjClose,volume,unadjustedVolume,change,changePercent,vwap,changeOverTime
count,4875.000000,4875.000000,4875.000000,4875.000000,4875.000000,4.875000e+03,4.875000e+03,4875.000000,4875.000000,4875.000000,4875.000000
mean,3312.003310,3332.438368,3289.807229,3311.773624,3311.773006,2.311824e+07,2.312371e+07,-0.229686,-0.002035,1873.705252,-0.000020
std,585.835219,584.126073,588.232403,586.186874,586.185774,2.570088e+07,2.569879e+07,35.367354,1.166495,1775.478166,0.011665
min,1812.780029,1823.250000,1765.489990,1809.979981,1809.979981,0.000000e+00,0.000000e+00,-338.020020,-11.724000,0.000000,-0.117240
25%,2894.760010,2913.244995,2876.134888,2894.619995,2894.619995,0.000000e+00,0.000000e+00,-14.224975,-0.427000,0.000000,-0.004270
50%,3306.820068,3325.550049,3284.770020,3307.939941,3307.939941,2.266570e+07,2.269050e+07,0.000000,0.000000,2953.073320,0.000000
75%,3691.865112,3713.640015,3672.700073,3691.640014,3691.640014,4.009285e+07,4.009285e+07,15.820070,0.488000,3476.106655,0.004880
max,4555.779785,4593.109860,4542.109860,4557.569824,4557.569824,2.358453e+08,2.358453e+08,246.070070,10.076000,4555.620000,0.100760

In [4]:
# FMP API key
api_key = '47461a32a9bcf3b0a6c2c6e98ccfab42'

# Symbol for the stock (e.g., '^STOXX50E' for EURO STOXX 50)
stock_symbol = '^STOXX50E'

# Specify the time interval (e.g., '5min', '15min', '1hour', '4hour', '1day')
time_interval = '5min'

# Specify the period for RSI calculation
period = 14  # Commonly used period for RSI

# URL for the FMP RSI endpoint
url = f'https://financialmodelingprep.com/api/v3/technical_indicator/{time_interval}/{stock_symbol}?type=rsi&period={period}&apikey={api_key}'

# FMP API request for RSI data
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Convert the response to JSON
    data = response.json()

    # Convert to a pandas DataFrame
    rsi_data = pd.DataFrame(data)

    # Display the DataFrame
    print(rsi_data)
else:
    print(f'Failed to retrieve RSI data: {response.status_code}')

                    date     open      low     high    close  volume  \
0    2024-01-10 13:40:00  4466.31  4464.12  4466.31  4464.23       0
1    2024-01-10 13:35:00  4467.73  4466.35  4467.75  4466.35       0
2    2024-01-10 13:30:00  4471.20  4468.43  4471.97  4468.43       0
3    2024-01-10 13:25:00  4472.60  4471.23  4472.60  4471.44       0
4    2024-01-10 13:20:00  4468.49  4468.49  4472.23  4472.23       0
..                   ...      ...      ...      ...      ...     ...
664  2023-12-29 09:20:00  4531.58  4530.46  4532.42  4532.31       0
665  2023-12-29 09:15:00  4530.36  4530.36  4533.20  4531.77       0
666  2023-12-29 09:10:00  4528.31  4527.86  4530.45  4530.45       0
667  2023-12-29 09:05:00  4527.30  4527.30  4530.42  4528.64       0
668  2023-12-29 09:00:00  4518.12  4518.12  4527.15  4526.70       0

           rsi
0    42.745260
1    46.537637
2    50.630002
3    57.414365
4    59.352648
..         ...
664   0.000000
665   0.000000
666   0.000000
667   0.000000
668   0.000000

[669 rows x 7 columns]

# Interest Rate API (Eurostat)

In [5]:
# Dataset code
dataset_code = "ei_mfir_m"

# API URL for downloading the dataset
api_url = f"https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/{dataset_code}?format=TSV&compressed=true"

# Download the dataset
response = requests.get(api_url, stream=True)
output_file = dataset_code + ".tsv.gz"

if response.status_code == 200:
    with open(output_file, 'wb') as f:
        f.write(response.content)
    print("Dataset downloaded successfully.")
else:
    print(f"Error downloading dataset. Status code: {response.status_code}")

# Unzipping the dataset
with gzip.open(output_file, 'rb') as f_in:
    with open(dataset_code + ".tsv", 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

print("Dataset unzipped successfully.")

Dataset downloaded successfully.
Dataset unzipped successfully.

In [6]:
# Get the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Construct the file path dynamically
file_name = 'ei_mfir_m.tsv'  # File Name
file_path = os.path.join(current_directory, file_name)

# Load the dataset
data = pd.read_csv(file_path, sep='\t')

# Split the first column into separate columns
split_columns = data.iloc[:, 0].str.split(',', expand=True)
split_columns.columns = ['freq', 's_adj', 'p_adj', 'indic', 'geo']

# Combine the split columns with the original data (excluding the first column)
structured_data = pd.concat([split_columns, data.iloc[:, 1:]], axis=1)

# Apply filters
structured_data = structured_data[
    (structured_data['indic'] == 'MF-3MI-RT')
]

# Drop unnecessary columns
structured_data.drop(['freq', 's_adj', 'p_adj'], axis=1, inplace=True)

# Filter for date range (from October 1, 2004, onwards)
date_columns = structured_data.columns[3:]
dates_from_oct_2004 = date_columns[date_columns >= '2004-10-01 ']
structured_data = structured_data[['indic','geo'] + list(dates_from_oct_2004)]

# Reset the index for a clean table
structured_data.reset_index(drop=True, inplace=True)

# Display the structured DataFrame
pd.set_option('display.max_columns', None)

Current Working Directory: /home/fabiopoli/Desktop

In [7]:
# Filter out only the columns with date values for melting
date_columns = structured_data.columns[5:]  
data_for_melting = structured_data[['geo'] + list(date_columns)]

# Melt the DataFrame to change its structure
structured_data = pd.melt(data_for_melting, id_vars=['geo'], var_name='Period', value_name='Interest')

# Filter for 'geo' == 'EA'
Interest_data_ea = structured_data[structured_data['geo'] == 'EA']

# Apply forward filling
Interest_data_ea.loc[:, 'Interest'] = Interest_data_ea['Interest'].ffill()

# Rearrange the columns
Interest_data_ea = Interest_data_ea[['Period', 'geo', 'Interest']]

# Display the transformed DataFrame
pd.set_option('display.max_rows', None)  # This option displays all the rows
print(Interest_data_ea.head(10))

       Period geo  Interest
3    2005-02   EA  2.13840
16   2005-03   EA  2.13720
29   2005-04   EA  2.13720
42   2005-05   EA  2.12560
55   2005-06   EA  2.11100
68   2005-07   EA  2.11940
81   2005-08   EA  2.13250
94   2005-09   EA  2.13910
107  2005-10   EA  2.19660
120  2005-11   EA  2.36090

In [8]:
# Convert 'Period' to datetime
Interest_data_ea['Period'] = pd.to_datetime(Interest_data_ea['Period'])

# Set 'Period' as the index
Interest_data_ea.set_index('Period', inplace=True)

# Create a daily date range that covers the entire period in your data
start_date = Interest_data_ea.index.min()
end_date = Interest_data_ea.index.max()
all_days = pd.date_range(start=start_date, end=end_date, freq='D')

# Reindex the DataFrame to this date range, forward filling the missing values
daily_interest_data = Interest_data_ea.reindex(all_days).ffill()

# Reset the index so 'Period' becomes a column again
daily_interest_data.reset_index(inplace=True)
daily_interest_data.rename(columns={'index': 'Period'}, inplace=True)

# Display the first 10 rows of the daily data
print(daily_interest_data.head(10))

      Period geo  Interest
0 2005-02-01  EA  2.13840
1 2005-02-02  EA  2.13840
2 2005-02-03  EA  2.13840
3 2005-02-04  EA  2.13840
4 2005-02-05  EA  2.13840
5 2005-02-06  EA  2.13840
6 2005-02-07  EA  2.13840
7 2005-02-08  EA  2.13840
8 2005-02-09  EA  2.13840
9 2005-02-10  EA  2.13840

/tmp/ipykernel_3529/523251794.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Interest_data_ea['Period'] = pd.to_datetime(Interest_data_ea['Period'])

In [9]:
# Check if 'Period' is in the columns; if not, the index might already be the 'Period'
if 'Period' in Interest_data_ea.columns:
    Interest_data_ea['Period'] = pd.to_datetime(Interest_data_ea['Period'])
    Interest_data_ea.set_index('Period', inplace=True)
elif not isinstance(Interest_data_ea.index, pd.DatetimeIndex):
    # If the index is not a datetime, convert it
    Interest_data_ea.index = pd.to_datetime(Interest_data_ea.index)

# Create a daily date range
start_date = Interest_data_ea.index.min()
end_date = Interest_data_ea.index.max()
all_days = pd.date_range(start=start_date, end=end_date, freq='D')

# Reindex to create a DataFrame with all days, introducing NaNs for days without data
interest_data = Interest_data_ea.reindex(all_days)

# Convert the index to a numerical value for KNN
interest_data['Day_Ordinal'] = interest_data.index.map(datetime.toordinal)

# Extract the 'Interest' column for imputation
knn_data = interest_data[['Day_Ordinal', 'Interest']].values

# Initialize KNN Imputer
knn_imputer = KNNImputer(n_neighbors=5)

# Apply KNN imputation
knn_data_imputed = knn_imputer.fit_transform(knn_data)

# Put the imputed 'Interest' data back into the DataFrame
interest_data['Interest'] = knn_data_imputed[:, 1]

# Drop the 'Day_Ordinal' column as it's no longer needed
interest_data.drop('Day_Ordinal', axis=1, inplace=True)

# Reset index to make 'Period' a column again
interest_data.reset_index(inplace=True)
interest_data.rename(columns={'index': 'Period'}, inplace=True)

# If the 'geo' column is required, fill it with a constant value (e.g., 'EA')
interest_data['geo'] = 'EA'

# Display the first 10 rows of the daily data
print(interest_data.head(10))

      Period geo  Interest
0 2005-02-01  EA   2.13840
1 2005-02-02  EA   2.12988
2 2005-02-03  EA   2.12988
3 2005-02-04  EA   2.12988
4 2005-02-05  EA   2.12988
5 2005-02-06  EA   2.12988
6 2005-02-07  EA   2.12988
7 2005-02-08  EA   2.12988
8 2005-02-09  EA   2.12988
9 2005-02-10  EA   2.12988

# Bonds Yields API (Eurostat)

In [10]:
# Dataset code
dataset_code = "irt_euryld_d"

# API URL for downloading the dataset
api_url = f"https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/{dataset_code}?format=TSV&compressed=true"

# Download the dataset
response = requests.get(api_url, stream=True)
output_file = dataset_code + ".tsv.gz"

if response.status_code == 200:
    with open(output_file, 'wb') as f:
        f.write(response.content)
    print("Dataset downloaded successfully.")
else:
    print(f"Error downloading dataset. Status code: {response.status_code}")

# Unzipping the dataset
with gzip.open(output_file, 'rb') as f_in:
    with open(dataset_code + ".tsv", 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

print("Dataset unzipped successfully.")

Dataset downloaded successfully.
Dataset unzipped successfully.

In [11]:
# Get the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Construct the file path dynamically
file_name = 'irt_euryld_d.tsv'  # File Name
file_path = os.path.join(current_directory, file_name)

# Load the dataset
data = pd.read_csv(file_path, sep='\t')

# Split the first column into separate columns
split_columns = data.iloc[:, 0].str.split(',', expand=True)
split_columns.columns = ['freq', 'yld_curv', 'maturity', 'bonds', 'geo']

# Combine the split columns with the original data (excluding the first column)
structured_data = pd.concat([split_columns, data.iloc[:, 1:]], axis=1)

# Apply filters
structured_data = structured_data[
    (structured_data['yld_curv'] == 'SPOT_RT') & 
    (structured_data['bonds'] == 'CGB_EA')
]

# Drop unnecessary columns
structured_data.drop(['freq', 'geo'], axis=1, inplace=True)

# Filter for date range (from October 1, 2004, onwards)
date_columns = structured_data.columns[3:]
dates_from_oct_2004 = date_columns[date_columns >= '2004-10-01 ']
structured_data = structured_data[['yld_curv', 'maturity', 'bonds'] + list(dates_from_oct_2004)]

# Reset the index for a clean table
structured_data.reset_index(drop=True, inplace=True)

# Display the structured DataFrame
pd.set_option('display.max_columns', None)

Current Working Directory: /home/fabiopoli/Desktop

/tmp/ipykernel_3529/3711088935.py:10: DtypeWarning: Columns (4417) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path, sep='\t')

In [12]:
# Filter out only the columns with date values for melting
date_columns = structured_data.columns[3:]  # Assuming date columns start from the 4th column
data_for_melting = structured_data[['maturity'] + list(date_columns)]

# Melt the DataFrame to change its structure
bonds_data = pd.melt(data_for_melting, id_vars=['maturity'], var_name='Period', value_name='Rate')

# Specify the desired maturities (M1 to M12 and Y1 to Y30)
desired_maturities = [f'M{i}' for i in range(1, 3)] + [f'Y{i}' for i in range(1, 10)]

# Filter the DataFrame to include only the specified maturities
bonds_data = bonds_data[bonds_data['maturity'].isin(desired_maturities)]

# Rearrange the columns
bonds_data = bonds_data[['Period', 'maturity', 'Rate']]

# Display the transformed DataFrame
pd.set_option('display.max_rows', None)  # This option displays all the rows
print(bonds_data.head())

          Period maturity     Rate
9    2004-10-01        Y1  2.27378
141  2004-10-01        Y2  2.58136
273  2004-10-01        Y3  2.86602
286  2004-10-01        Y4  3.12325
298  2004-10-01        Y5  3.35223

# Inflation Rate API (Eurostat)

In [13]:
# Dataset code
dataset_code = "prc_hicp_manr"

# API URL for downloading the dataset
api_url = f"https://ec.europa.eu/eurostat/api/dissemination/sdmx/2.1/data/{dataset_code}?format=TSV&compressed=true"

# Download the dataset
response = requests.get(api_url, stream=True)
output_file = dataset_code + ".tsv.gz"

if response.status_code == 200:
    with open(output_file, 'wb') as f:
        f.write(response.content)
    print("Dataset downloaded successfully.")
else:
    print(f"Error downloading dataset. Status code: {response.status_code}")

# Unzipping the dataset
with gzip.open(output_file, 'rb') as f_in:
    with open(dataset_code + ".tsv", 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

print("Dataset unzipped successfully.")

Dataset downloaded successfully.
Dataset unzipped successfully.

In [14]:
# Get the current working directory
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

# Construct the file path dynamically
file_name = 'prc_hicp_manr.tsv'  # File Name
file_path = os.path.join(current_directory, file_name)

# Load the dataset
data = pd.read_csv(file_path, sep='\t')

# Split the first column into separate columns
split_columns = data.iloc[:, 0].str.split(',', expand=True)
split_columns.columns = ['freq', 'unit', 'coicop', 'geo']

# Combine the split columns with the original data (excluding the first column)
structured_data = pd.concat([split_columns, data.iloc[:, 1:]], axis=1)

# Apply filters
structured_data = structured_data[
    (structured_data['unit'] == 'RCH_A') & 
    (structured_data['coicop'] == 'CP00')
]

# Drop unnecessary columns
structured_data.drop(['freq'], axis=1, inplace=True)

# Filter for date range (from January 1, 2005, onwards)
date_columns = structured_data.columns[3:]
dates_from_oct_2004 = date_columns[date_columns >= '2004-10-01 ']
structured_data = structured_data[['unit', 'coicop', 'geo'] + list(dates_from_oct_2004)]

# Reset the index for a clean table
structured_data.reset_index(drop=True, inplace=True)

# Display the structured DataFrame
pd.set_option('display.max_columns', None)

Current Working Directory: /home/fabiopoli/Desktop

In [15]:
# Filter out only the columns with date values for melting
date_columns = structured_data.columns[5:]  # Assuming date columns start from the 6th column
data_for_melting = structured_data[['geo'] + list(date_columns)]

# Melt the DataFrame to change its structure
inflation_data = pd.melt(data_for_melting, id_vars=['geo'], var_name='Period', value_name='Inflation')

# Filter for 'geo' == 'EA'
inflation_data_ea = inflation_data[inflation_data['geo'] == 'EA']

# Apply forward filling
inflation_data_ea.loc[:, 'Inflation'] = inflation_data_ea['Inflation'].ffill()

# Rearrange the columns
inflation_data_ea = inflation_data_ea[['Period', 'geo', 'Inflation']]

# Display the transformed DataFrame
pd.set_option('display.max_rows', None)  # This option displays all the rows
print(inflation_data_ea.head(10))

       Period geo Inflation
9    2005-01   EA      1.9
54   2005-02   EA      2.1
99   2005-03   EA      2.2
144  2005-04   EA      2.1
189  2005-05   EA      2.0
234  2005-06   EA      2.0
279  2005-07   EA      2.1
324  2005-08   EA      2.2
369  2005-09   EA      2.6
414  2005-10   EA      2.5

In [16]:
# Convert 'Period' to datetime
inflation_data_ea['Period'] = pd.to_datetime(inflation_data_ea['Period'])

# Set 'Period' as the DataFrame index
inflation_data_ea.set_index('Period', inplace=True)

# Resample to daily data using forward fill
daily_data_ffill = inflation_data_ea.resample('D').ffill()

# Reset index to move 'Period' back to a column
daily_data_ffill.reset_index(inplace=True)

# Display the first 10 rows of the daily data
print(daily_data_ffill.head(10))

      Period geo Inflation
0 2005-01-01  EA      1.9
1 2005-01-02  EA      1.9
2 2005-01-03  EA      1.9
3 2005-01-04  EA      1.9
4 2005-01-05  EA      1.9
5 2005-01-06  EA      1.9
6 2005-01-07  EA      1.9
7 2005-01-08  EA      1.9
8 2005-01-09  EA      1.9
9 2005-01-10  EA      1.9

/tmp/ipykernel_3529/2285021057.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  inflation_data_ea['Period'] = pd.to_datetime(inflation_data_ea['Period'])

In [17]:
# Check if 'Period' is in the columns; if not, the index should already be the 'Period'
if 'Period' in inflation_data_ea.columns:
    inflation_data_ea['Period'] = pd.to_datetime(inflation_data_ea['Period'])
    inflation_data_ea.set_index('Period', inplace=True)
elif not isinstance(inflation_data_ea.index, pd.DatetimeIndex):
    # If the index is not a datetime, convert it
    inflation_data_ea.index = pd.to_datetime(inflation_data_ea.index)

# Convert non-numeric values to NaN in the 'Inflation' column
inflation_data_ea['Inflation'] = pd.to_numeric(inflation_data_ea['Inflation'], errors='coerce')

# Create a daily date range that covers the entire period of your data
date_range = pd.date_range(start=inflation_data_ea.index.min(), end=inflation_data_ea.index.max(), freq='D')

# Create a new DataFrame for KNN imputation
inflation_data = pd.DataFrame(date_range, columns=['Period'])

# Merge with your existing data - this will introduce NaNs for days without data
inflation_data = inflation_data.merge(inflation_data_ea, how='left', left_on='Period', right_index=True)

# Convert 'Period' to a numerical value (e.g., days since start)
min_date = inflation_data['Period'].min()
inflation_data['Day_Ordinal'] = (inflation_data['Period'] - min_date).dt.days

# Prepare data for KNN imputation
knn_data = inflation_data[['Day_Ordinal', 'Inflation']]

# Initialize KNN Imputer - 5 neighbors / Week
knn_imputer = KNNImputer(n_neighbors=5)

# Apply KNN imputation
knn_data_imputed = knn_imputer.fit_transform(knn_data)

# Add imputed data back to DataFrame
inflation_data['Inflation'] = knn_data_imputed[:, 1]

# Fill 'geo' column with 'EA'
inflation_data['geo'] = 'EA'

# Convert 'Day_Ordinal' back to datetime
inflation_data['Period'] = inflation_data['Day_Ordinal'].apply(lambda x: min_date + timedelta(days=x))

# Drop the 'Day_Ordinal' column
inflation_data.drop(columns='Day_Ordinal', inplace=True)

# Display the first 10 rows of the daily data
print(inflation_data.head(10))

      Period geo  Inflation
0 2005-01-01  EA       1.90
1 2005-01-02  EA       2.06
2 2005-01-03  EA       2.06
3 2005-01-04  EA       2.06
4 2005-01-05  EA       2.06
5 2005-01-06  EA       2.06
6 2005-01-07  EA       2.06
7 2005-01-08  EA       2.06
8 2005-01-09  EA       2.06
9 2005-01-10  EA       2.06

# SparkSQL: Tables Connection

In [18]:
import pandas as pd
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder \
    .appName("Stock Market Trends Analysis") \
    .getOrCreate()

# Function to format date columns in Pandas DataFrame
def format_date_columns(df, date_column):
    df[date_column] = pd.to_datetime(df[date_column]).dt.date
    return df

# Format date columns
index_data = format_date_columns(index_data, 'date')
interest_data = format_date_columns(interest_data, 'Period')
bonds_data = format_date_columns(bonds_data, 'Period')
inflation_data = format_date_columns(inflation_data, 'Period')

# Convert the Pandas DataFrames to Spark DataFrames
index_df = spark.createDataFrame(index_data)
interest_df = spark.createDataFrame(interest_data)
bonds_df = spark.createDataFrame(bonds_data)
inflation_df = spark.createDataFrame(inflation_data)

# Trim and convert date columns to DateType
index_df = index_df.withColumn("date", to_date(trim(col("date")), "yyyy-MM-dd"))
interest_df = interest_df.withColumn("Period", to_date(trim(col("Period")), "yyyy-MM-dd"))
bonds_df = bonds_df.withColumn("Period", to_date(trim(col("Period")), "yyyy-MM-dd"))
inflation_df = inflation_df.withColumn("Period", to_date(trim(col("Period")), "yyyy-MM-dd"))

# Create Temporary Views
index_df.createOrReplaceTempView("indexView")
interest_df.createOrReplaceTempView("interestView")
bonds_df.createOrReplaceTempView("bondsView")
inflation_df.createOrReplaceTempView("inflationView")

# SQL Query for Joining
join_query = """
SELECT i.date, i.open, i.high, i.low, i.close, 
       int.Interest as InterestRate, 
       b.Rate as BondRate, b.maturity as BondMaturity, 
       inf.Inflation as InflationRate
FROM indexView i
LEFT JOIN interestView int ON i.date = int.Period
LEFT JOIN bondsView b ON i.date = b.Period
LEFT JOIN inflationView inf ON i.date = inf.Period
"""

# Execute the query
dataset = spark.sql(join_query)

# Show the result
dataset.show(10)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/10 19:45:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/10 19:45:06 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+----------+------------+------------+------------+------------+------------+--------+------------+-------------+
|      date|        open|        high|         low|       close|InterestRate|BondRate|BondMaturity|InflationRate|
+----------+------------+------------+------------+------------+------------+--------+------------+-------------+
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 4.17243|          Y9|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 4.00003|          Y8|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 3.79492|          Y7|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908|  3.5561|          Y6|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 3.29141|          Y5|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 3.02543|          Y4|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 2.80114|          Y3|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 2.63213|          Y2|          2.9|
|2011-10-20|2311.9199219|2324.7700195|2268.0100098|2271.7700195|     1.44908| 2.23963|          Y1|          2.9|
|2011-10-21|2283.8500977|2340.8100586|     2279.25|2337.5100098|     1.44908| 4.14155|          Y9|          2.9|
+----------+------------+------------+------------+------------+------------+--------+------------+-------------+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import col, count, when, isnan

# DataFrame: joined_df
numeric_column_types = ['int', 'double', 'float', 'long']

# Counting zeros and nulls for each column
for column in dataset.columns:
    # Check if the column is numeric
    if str(dataset.schema[column].dataType) in numeric_column_types:
        zero_count = dataset.filter(col(column) == 0).count()
        null_or_nan_count = joined_df.filter(col(column).isNull() | isnan(col(column))).count()
    else:
        zero_count = 'N/A' # Not applicable for non-numeric columns
        null_or_nan_count = dataset.filter(col(column).isNull()).count() # Check only for nulls in non-numeric columns

    print(f"Column '{column}': Zeros = {zero_count}, Nulls or NaNs = {null_or_nan_count}")

Column 'date': Zeros = N/A, Nulls or NaNs = 0
Column 'open': Zeros = N/A, Nulls or NaNs = 0
Column 'high': Zeros = N/A, Nulls or NaNs = 0
Column 'low': Zeros = N/A, Nulls or NaNs = 0
Column 'close': Zeros = N/A, Nulls or NaNs = 0
Column 'InterestRate': Zeros = N/A, Nulls or NaNs = 967
Column 'BondRate': Zeros = N/A, Nulls or NaNs = 17
Column 'BondMaturity': Zeros = N/A, Nulls or NaNs = 17
Column 'InflationRate': Zeros = N/A, Nulls or NaNs = 778

In [20]:
# Print the schema of the DataFrame
dataset.printSchema()

# Count the number of rows in the DataFrame
print("Number of rows:", dataset.count())

# Show statistical summaries of the DataFrame
dataset.describe().show()

root
 |-- date: date (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- InterestRate: double (nullable = true)
 |-- BondRate: string (nullable = true)
 |-- BondMaturity: string (nullable = true)
 |-- InflationRate: double (nullable = true)

Number of rows: 43739

24/01/10 19:45:20 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------+------------------+
|summary|              open|              high|               low|            close|      InterestRate|          BondRate|BondMaturity|     InflationRate|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------+------------------+
|  count|             43739|             43739|             43739|            43739|             42772|             43722|       43722|             42961|
|   mean|3309.9869133101165|3330.4146881369365|3287.7709854644636|3309.717650202538|1.0525140811745326|1.7676058871963647|        NULL|2.1359218826378714|
| stddev| 585.0358627009517| 583.3242975406104| 587.4204596863188| 585.359962849712| 1.647108747386468|1.5952702069527223|        NULL| 2.061822031869925|
|    min|      1812.7800293|           1823.25|      1765.4899902|     1809.9799805|            -0.582|          -0.00122|          Y1|              -0.6|
|    max|      4555.7797852|        4593.10986|        4542.10986|     4557.5698242|            5.1131|            9.7E-4|          Y9|              10.1|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------+------------------+

In [21]:
from pyspark.sql.functions import col, count, when, isnan

# DataFrame: joined_df

# Count the total number of rows
total_rows = dataset.count()

# Count rows where 'Open' is available but 'Rate' is missing (Null or NaN)
missing_rate_with_open = dataset.filter(
    col("Rate").isNull() | isnan(col("Rate")) & col("open").isNotNull()
).count()

# Calculate the percentage of such instances
percentage_missing_rate_with_open = (missing_rate_with_open / total_rows) * 100

print(f"Total Rows: {total_rows}")
print(f"Rows with 'Open' but missing 'Rate': {missing_rate_with_open}")
print(f"Percentage of Rows with 'Open' but missing 'Rate': {percentage_missing_rate_with_open:.2f}%")

Total Rows: 43739
Rows with 'Open' but missing 'Rate': 17
Percentage of Rows with 'Open' but missing 'Rate': 0.04%

In [22]:


# DataFrame: joined_df

# Filter the DataFrame to get rows where 'Open' is available but 'Rate' is missing (Null or NaN)
missing_rate_rows = dataset.filter(
    (col("Rate").isNull() | isnan(col("Rate"))) & col("open").isNotNull()
)

# Show the rows with missing 'Rate' values
missing_rate_rows.show()

+----------+------------+------------+------------+------------+--------------------+--------+------------+------------------+
|      date|        open|        high|         low|       close|        InterestRate|BondRate|BondMaturity|     InflationRate|
+----------+------------+------------+------------+------------+--------------------+--------+------------+------------------+
|2022-06-22|      3494.0|      3494.0|3413.0400391|3464.6398926|             0.16346|    NULL|        NULL|              8.92|
|2020-12-24| 3542.850098|  3546.02002| 3539.790039| 3543.280029| -0.5372800000000001|    NULL|        NULL|               0.5|
|2023-04-06|     4295.55|     4313.74|     4293.85|     4309.45|             3.12404|    NULL|        NULL|               6.8|
|2022-03-09|3548.4899902|3766.0200195|3548.4899902|3766.0200195|-0.48412000000000005|    NULL|        NULL| 6.780000000000001|
|2024-01-09|  4486.99023|  4486.99023|  4446.62012|  4467.16992|                NULL|    NULL|        NULL|              NULL|
|2023-12-29|  4518.12012|  4536.43994|  4517.31006|   4521.6499|                NULL|    NULL|        NULL|              NULL|
|2023-05-01| 4359.310059| 4359.310059| 4359.310059| 4359.310059|              3.3664|    NULL|        NULL|               6.1|
|2023-04-28|     4353.92|      4376.3|     4305.63|     4359.31|  3.3303400000000005|    NULL|        NULL|              6.16|
|2020-12-31| 3565.709961| 3571.610107| 3552.639893| 3552.639893| -0.5372800000000001|    NULL|        NULL|0.5000000000000001|
|2024-01-10|     4467.15|      4484.8|     4459.54|     4469.49|                NULL|    NULL|        NULL|              NULL|
|2021-03-23|3827.5400391|3842.3701172|3804.8999023|3827.0200195|            -0.54028|    NULL|        NULL|1.5399999999999998|
|2023-12-22|   4520.6001|   4528.0498|  4505.72998|  4521.47021|                NULL|    NULL|        NULL|              NULL|
|2020-05-01| 2927.929932| 2927.929932| 2927.929932| 2927.929932|              -0.272|    NULL|        NULL|               0.1|
|2022-04-14|3834.3300781|3859.5900879|3823.8500977|3848.6799316|            -0.41994|    NULL|        NULL|7.4799999999999995|
|2021-04-01|3922.3601074|3948.9899902|3922.3601074|3945.9599609|             -0.5382|    NULL|        NULL|               1.6|
|2022-12-23|      3823.7|   3833.6101|     3798.74|     3817.01|  2.3569000000000004|    NULL|        NULL|              8.66|
|2006-05-01| 3839.899902| 3839.899902| 3839.899902| 3839.899902|               2.889|    NULL|        NULL|               2.5|
+----------+------------+------------+------------+------------+--------------------+--------+------------+------------------+